{% extends "base.html" %}


{% block content_title %}{% endblock %}
{% block content %}
<h1 class="title">Noticias</h1>

{% if articles %}
<ol>
	{% for article in (articles_page.object_list if articles_page else articles) %}
	<li class="post_list"><p class="post_entry">
		{% if CATEGORY_ICONS %}
		<img alt="{{ article.category }}" src="{{ CATEGORY_ICONS_PATH }}{{article.category}}.png" class="alignright">
		{% else %}
		<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/blog.png" class="alignright">>
		{% endif %}
		<h2 class="post_title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
		{% include 'meta.html' %}
		<span class="post_summary">{{ article.summary }}</span>
	</li>
	{% endfor %}
</ol>
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
